# =============== log ignore
/log
/node_modules
/tmp
/builtAssets

# =========================== DO NOT touch below v1.0.0 ===============================


# Thumbnails
._*

# =============== # Windows image file caches
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN

# Except the .htpassed
!.htpasswd

npm-debug.log

dump.rdb
=======
composer.phar
vendor
